<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936447559206-12kagpisttonh194tt1e5mechun1e8fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936447559206-12kagpisttonh194tt1e5mechun1e8fd</string>
	<key>API_KEY</key>
	<string>AIzaSyBTIo_iXaKbVi5KVszmI9ksy31LS9UvveY</string>
	<key>GCM_SENDER_ID</key>
	<string>936447559206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramdan.C1-DatingApp</string>
	<key>PROJECT_ID</key>
	<string>c1-dating-app</string>
	<key>STORAGE_BUCKET</key>
	<string>c1-dating-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936447559206:ios:47c6dde4b7025aa9e808e7</string>
</dict>
</plist>